.title-display{
    display: flex;
    flex-direction: row;
}
.content-title{
    position:relative;
    height: 75.69px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    /* or 58px */
    letter-spacing: -0.02em;
    color: #000000;
    text-align: left; 
    align-self: left;
    padding-left: 3vw;
    padding-top: 3vh;
    width:18vw;
}
.inputbar{
    top: 3vh;
}
.board-display{
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   padding: 0vh 3vw 3vh 3vw;
   justify-content: space-between;
}
.card-display{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    isolation: isolate;
    position: relative;
    height:60vh;
    border-radius: 12px;
}
.item{
    padding: 0px;
    position: relative;
    border-radius: 12px;
    background-color: #333332;
    width: 28vw;

}
.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
