.title-display{
    display: grid;
    grid-template-columns: 35% 1fr ; 
    gap: 1.5%; 
    padding: 2% 3% 0% 3%;
}
.content-title{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(36px, calc(1rem + 0.5vw), 56px);
    color: #000000;

}
.search-bar{
    height: 5%;
}
.item{
    position: relative;
    border-radius: 12px;
    background-color: #333332; 
    display: flex;
    flex-direction: column;
    gap:1%;
    overflow: hidden;
}
.content-grid {
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(auto-fit, minmax(80%, 100%));
}
.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.auth{
    display: flex;
    flex: row;
    width: 94%;
    gap:-0.3%;
}
.text-title{
    color: #ffffff;
    justify-self: top;
    align-self: left;
    padding-left: 2%;
    padding-top: 2%;
    margin-bottom: 0%;
    font-weight: 500;
    font-size: clamp(24px, calc(1rem + 0.5vw), 30px);
}
.text-content{
    margin-bottom: 0.5%;
}
.blacklist-count{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(28px, calc(0.8rem + 0.5vw), 36px);
    text-align: center;
}
.blacklist-details{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
}
#map{
    width: 100%;
    height: 80%;
}
.t-title{
    font-size: clamp(11px, calc(1rem + 0.5vw), 16px);
}
.t-content{
    font-size: clamp(8px, calc(1rem + 0.5vw), 14px);
}
.p-ip-addr{
    padding: 5.7% 7% 5% 9%
}
.grid-1{
    grid-template-rows: 17% 81%;
}