.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.t-title{
    font-size: clamp(1.25rem, calc(1rem + 0.5vw),6rem);
}
.t-content{
    font-size: clamp(0.75rem, calc(0.75rem + 0.5vw), 5rem);
}
.p-ip-addr{
    padding: 5%;
}
.grid-1{
    grid-template-rows: 17% 81%;
}