.title-display{
    display: flex;
    flex-direction: column;
    gap:1.5%;
    align-content: space-between;
    padding-top: 4%;
}
.content-title{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(20px, calc(1rem + 0.5vw), 54px);
    letter-spacing: -0.02em;
    color: #000000;
    text-align: center; 
    align-self: center;
   
}
.item{
    position: relative;
    border-radius: 12px;
    background-color: #333332; 
    display: flex;
    flex-direction: column;
    gap:2%;
    margin: 2% 12%;
    height: 100%;
}
.wrap{
    margin-top: 4%;
    padding-top: 1%;
}
