{% extends "base.html" %}
{% block title %} Domain Analysis {% endblock %}
{% block link  %}{{ url_for('static', filename='css/domain.css') }}{% endblock %}
{% block scripts %} 
<script src="{{ url_for('static', filename='js/google.js') }}"></script>
<script src="{{ url_for('static', filename='js/domain.js') }}"></script>
{% endblock %}
{% block content %}
<div class="title-display">
     <h1  class="content-title"> Domain: {{domain_name}}</h1>
     <div class="input-group search-bar">
        <input id = "inputDomain" type="text" class="form-control " placeholder="Enter a Domain" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button id = "submitDomain" class="btn btn-outline-secondary" type="button">Enter</button>
    </div>
</div>
<div class="board-display">
    <div class="content-grid grid-1">
        <div class="item p-ip-addr">
            <h3 class="text-title m-0 p-0">IP address: {{data["IP Addr"]}}</h3>
        </div>
        <div class="card" style=" background-color:  #333332;">
            <div id="map" class="card-img-top" data-lat = "{{ data['Geolocation']['latitude'] }}" data-lng="{{ data['Geolocation']['longitude'] }}" 
            data-title="{{ data['Geolocation']['City'] }}" ></div>
            <div class="card-body">
              <p class="card-text">
                <p class="text-content">Country: {{data["Geolocation"]["Country"]}}</p>
                <p class="text-content">Region: {{data["Geolocation"]["Region"]}}</p>
                <p class="text-content">City: {{data["Geolocation"]["City"]}}</p>
              </p>
            </div>
        </div>
    </div>
   
    <div class="content-grid" >
        <div class="item"> 
            <h3 class="text-title" >ISP: </h3>
            <p class="text-content text-center">{{data["ASN"]["ISP"]}} </p>
       </div>
       <div class="item">
            <h3 class="text-title">Organization: </h3>
            <p class="text-content text-center">{{data["Geolocation"]["Org"]}} </p>
       </div>
       
       <div class="item"> 
            <h3 class="text-title" >IP Range: </h3>
            <p class="text-content text-center">{{data["ASN"]["Range"]}} </p>
       </div>
       {% if data["Geolocation"]["Hostname"] != 'None' %}
            <div class="item"> 
                    <h3 class="text-title">HostName: </h3>
                    <p class="text-content text-center">{{data["Geolocation"]["Hostname"]}} </p>
            </div>
        {% endif %}
       <div class="item overflow-auto"> 
        <h3 class="text-title"> Blacklist - HetrixTools </h3>
        <h2 class="blacklist-count pb-0 p-top-1">{{data["HTBlacklist"]["count"]}} blacklisted count</h2>
        <div class="blacklist-details pt-0">
            {% for site in data["HTBlacklist"]["sites"] %}
                <p class="text-content"> {{site}}, </p>
            {% endfor %}
        </div>
    </div>
    </div>
    <div class="content-grid">
        
        <div class="item p-0">  
            <table class="table table-striped table-dark m-0">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th class="text-title t-title" scope="col">DMARC</th>
                    <th class="text-title t-title" scope="col">DKIM</th>
                    <th class="text-title t-title" scope="col">SPF</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="text-title t-title" scope="row">Failed</th>
                    <td class="text-content t-content">
                        {% if data['Authentication']['DMARC']['Failed']['count'] != 0 %}
                        <span 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" 
                            title="{{data['Authentication']['DMARC']['Failed']['details']}}" >
                            {{data['Authentication']['DMARC']['Failed']['count']}}
                        </span> 
                        {% else %}
                        {{data['Authentication']['DMARC']['Failed']['count']}}
                        {% endif %}
                    </td>
                    <td class="text-content t-content">
                        {% if data['Authentication']['DKIM']['Failed']['count'] != 0 %}
                        <span 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" 
                            title="{{data['Authentication']['DKIM']['Failed']['details']}}" >
                            {{data['Authentication']['DMARC']['Failed']['count']}}
                        </span> 
                        {% else %}
                        {{data['Authentication']['DKIM']['Failed']['count']}}
                        {% endif %}
                    </td>
                    <td class="text-content t-content">
                        {% if data['Authentication']['SPF']['Failed']['count'] != 0 %}
                        <span 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" 
                            title="{{data['Authentication']['SPF']['Failed']['details']}}" >
                            {{data['Authentication']['SPF']['Failed']['count']}}
                        </span> 
                        {% else %}
                        {{data['Authentication']['SPF']['Failed']['count']}}
                        {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <th class="text-title t-title" scope="row">Warnings</th>
                    <td class="text-content t-content">
                        {% if data['Authentication']['DMARC']['Warnings']['count'] != 0 %}
                        <span 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" 
                            title="{{data['Authentication']['DMARC']['Warnings']['details']}}" >
                            {{data['Authentication']['DMARC']['Warnings']['count']}}
                        </span> 
                        {% else %}
                        {{data['Authentication']['DMARC']['Warnings']['count']}}
                        {% endif %}
                    </td>
                    <td class="text-content t-content">
                        {% if data['Authentication']['DKIM']['Warnings']['count'] != 0 %}
                        <span 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" 
                            title="{{data['Authentication']['DKIM']['Warnings']['details']}}" >
                            {{data['Authentication']['DKIM']['Warnings']['count']}}
                        </span> 
                        {% else %}
                        {{data['Authentication']['DKIM']['Warnings']['count']}}
                        {% endif %}   
                    </td>
                    <td class="text-content t-content">
                        {% if data['Authentication']['SPF']['Warnings']['count'] != 0 %}
                        <span 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" 
                            title="{{data['Authentication']['SPF']['Warnings']['details']}}" >
                            {{data['Authentication']['SPF']['Warnings']['count']}}
                        </span> 
                        {% else %}
                        {{data['Authentication']['SPF']['Warnings']['count']}}
                        {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <th class="text-title t-title" scope="row">Passed</th>
                    <td class="text-content t-content">
                        {% if data['Authentication']['DMARC']['Passed']['count'] != 0 %}
                        <span 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" 
                            title="{{data['Authentication']['DMARC']['Passed']['details']}}" >
                            {{data['Authentication']['DMARC']['Passed']['count']}}
                        </span> 
                        {% else %}
                        {{data['Authentication']['DMARC']['Passed']['count']}}
                        {% endif %}
                    </td>
                    <td class="text-content t-content">
                        {% if data['Authentication']['DKIM']['Passed']['count'] != 0 %}
                        <span 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" 
                            title="{{data['Authentication']['DKIM']['Passed']['details']}}" >
                            {{data['Authentication']['DKIM']['Passed']['count']}}
                        </span> 
                        {% else %}
                        {{data['Authentication']['DKIM']['Passed']['count']}}
                        {% endif %}
                    </td>
                    <td class="text-content t-content">
                        {% if data['Authentication']['SPF']['Passed']['count'] != 0 %}
                        <span 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" 
                            title="{{data['Authentication']['SPF']['Passed']['details']}}" >
                            {{data['Authentication']['SPF']['Passed']['count']}}
                        </span> 
                        {% else %}
                        {{data['Authentication']['SPF']['Passed']['count']}}
                        {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="item" > 
            <h3 class="text-title">Blacklist - VirusTotal </h3>
            <div class="wrap">
                <div class="icon">
                    <img src="{{ url_for('static', filename='src/malicious.png') }}" alt="domain" width="10%" height="80%">
                    <p class="text-content"> Malicious:
                        {% if data["VTBlacklist"]['stats']["malicious"]['count'] != 0 %}
                        <span 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" 
                            title="{{data['VTBlacklist']['stats']['malicious']['details']}}" >
                            {{data["VTBlacklist"]['stats']["malicious"]['count']}}
                        </span>   
                        {% else %}
                        {{data["VTBlacklist"]['stats']["malicious"]['count']}} 
                        {% endif %}
                    </p>
                </div>
                <div class="icon">
                    <img src="{{ url_for('static', filename='src/suspicious.png') }}" alt="domain" width="10%" height="80%">
                    <p class="text-content"> Suspicious: 
                     {% if data["VTBlacklist"]['stats']["suspicious"]['count'] != 0 %}
                    <span 
                        data-bs-toggle="tooltip" 
                        data-bs-placement="top" 
                        title="{{data['VTBlacklist']['stats']['suspicious']['details']}}" >
                        {{data["VTBlacklist"]['stats']["suspicious"]['count']}}
                    </span>   
                    {% else %}
                    {{data["VTBlacklist"]['stats']["suspicious"]['count']}} 
                    {% endif %}
                    </p>
                   
                </div>
                <div class="icon">
                    <img src="{{ url_for('static', filename='src/undetected.png') }}" alt="domain" width="10%" height="80%">
                    <p class="text-content"> Undetected : {{data["VTBlacklist"]['stats']["undetected"]}} </p>
                </div>
                <div class="icon">
                    <img src="{{ url_for('static', filename='src/harmless.png') }}" alt="domain" width="10%" height="80%">
                    <p class="text-content"> Harmless : {{data["VTBlacklist"]['stats']["harmless"]}} </p>
                </div>
                <div class="icon">
                    <img src="{{ url_for('static', filename='src/timeout.png') }}" alt="domain" width="10%" height="80%">
                    <p class="text-content"> Timeout : {{data["VTBlacklist"]['stats']["timeout"]}} </p>
                </div>           
          </div>
        </div>
    </div>
</div>
{% endblock %}
{% block googlemap %} 
<script src="https://maps.googleapis.com/maps/api/js?key={{apikey}}&callback=initMap&libraries=maps,marker&v=weekly" async defer></script>
{% endblock %}