{% extends "base.html" %}
{% block title %} Domain Analysis {% endblock %}
{% block link  %}{{ url_for('static', filename='css/domain.css') }}{% endblock %}
{% block scripts %} 
<script src="{{ url_for('static', filename='js/google.js') }}"></script>
<script src="{{ url_for('static', filename='js/domain.js') }}"></script>
{% endblock %}
{% block content %}
<div class="title-display">
     <h1  class="content-title"> Domain: {{domain_name}}</h1>
     <div class="input-group mb-2 search-bar">
        <input id = "inputDomain" type="text" class="form-control " placeholder="Enter a Domain" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button id = "submitDomain" class="btn btn-outline-secondary" type="button">Enter</button>
    </div>
</div>
<div class="board-display">
    <div class="content-grid" style="grid-template-rows: 17% 81%;">
        <div class="item">
            <h3 class="text-title">IP address: {{data["IP Addr"]}}</h3>
        </div>
        <div class="card" style=" background-color:  #333332;">
            <div id="map" class="card-img-top" data-lat = "{{ data['Geolocation']['latitude'] }}" data-lng="{{ data['Geolocation']['longitude'] }}" 
            data-title="{{ data['Geolocation']['City'] }}" ></div>
            <div class="card-body">
              <p class="card-text">
                <p class="text-content">Country: {{data["Geolocation"]["Country"]}}</p>
                <p class="text-content">Region: {{data["Geolocation"]["Region"]}}</p>
                <p class="text-content">City: {{data["Geolocation"]["City"]}}</p>
              </p>
            </div>
        </div>
    </div>
   
    <div class="content-grid" >
        <div class="item"> 
            <h3 class="text-title" >ISP: </h3>
            <p class="text-content" style="text-align: center;padding-top: 7%;">{{data["ASN"]["ISP"]}} </p>
       </div>
       <div class="item">
            <h3 class="text-title" >Organization: </h3>
            <p class="text-content" style="text-align: center;padding-top: 7%;">{{data["Geolocation"]["Org"]}} </p>
       </div>
       
       <div class="item"> 
            <h3 class="text-title" >IP Range: </h3>
            <p class="text-content" style="text-align: center;padding-top: 7%;">{{data["ASN"]["Range"]}} </p>
       </div>
       <div class="item"> 
            <h3 class="text-title">HostName: </h3>
            <p class="text-content" style="text-align: center; padding-top: 7%;">{{data["Geolocation"]["Hostname"]}} </p>
       </div>
    </div>
    <div class="content-grid">
        <div class="item"> 
            <h3 class="text-title"> Hetrix Tool </h3>
            <h2 class="blacklist-count">{{data["BlackList"]["count"]}} blacklisted count</h2>
            <p class="text-content" style="text-align: center">{{data["BlackList"]["sites"]}} </p>
        </div>
        <div class="item">  
            <h3 class="text-title">DMARC </h3>
            <p class="text-content"> Failed: {{data["Authentication"]["DMARC"]["Failed"]["count"]}} </p>
            <p class="text-content"> Warnings: {{data["Authentication"]["DMARC"]["Warnings"]["count"]}} </p>
            <p class="text-content"> Passed: {{data["Authentication"]["DMARC"]["Passed"]["count"]}} </p>
        </div>
        <div class="item"> 
            <h3 class="text-title">DKIM </h3>
            <p class="text-content"> Failed: {{data["Authentication"]["DKIM"]["Failed"]["count"]}} </p>
            <p class="text-content"> Warnings: {{data["Authentication"]["DKIM"]["Warnings"]["count"]}} </p>
            <p class="text-content"> Passed: {{data["Authentication"]["DKIM"]["Passed"]["count"]}} </p>
        </div>
        <div class="item"> 
            <h3 class="text-title" >SPF </h3>
            <p class="text-content"> Failed: {{data["Authentication"]["SPF"]["Failed"]["count"]}} </p>
            <p class="text-content"> Warnings: {{data["Authentication"]["SPF"]["Warnings"]["count"]}} </p>
            <p class="text-content"> Passed: {{data["Authentication"]["SPF"]["Passed"]["count"]}} </p>
        </div>
    </div>
</div>
{% endblock %}
{% block googlemap %} 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDI-RLXTfsYGAuDtQMi1AZcJCvNHjP1aKE&callback=initMap&libraries=maps,marker&v=weekly" async defer></script>
{% endblock %}