{% extends "base.html" %}
{% block title %} Domain Analysis {% endblock %}
{% block link  %}{{ url_for('static', filename='css/domain.css') }}{% endblock %}
{% block scripts %} 
<script type="module" src="{{ url_for('static', filename='js/google.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/domain.js') }}"></script>
{% endblock %}
{% block content %}
<div class="title-display">
     <h1  id="domainNm" class="content-title">Domain: </h1>
     <div class="input-group search-bar">
        <input id = "inputDomain" type="text" class="form-control " placeholder="Enter a Domain">
        <button id = "submitDomain" class="btn btn-outline-secondary" type="button">Enter</button>
    </div>
</div>
<div class="board-display">
    <div class="content-grid grid-1">
        <div class="item p-ip-addr">
            <h3 id="ipAddr" class="text-title m-0 p-0">IP address:</h3>
        </div>
        <div class="card" style=" background-color:  #333332;">
            <div id="map" class="card-img-top" ></div>
            <div class="card-body">
              <p class="card-text">
                <p id="country" class="text-content m-bottom-05">Country: </p>
                <p id="region" class="text-content m-bottom-05">Region: </p>
                <p id="city" class="text-content m-bottom-05">City: </p>
              </p>
            </div>
        </div>
    </div>
   
    <div class="content-grid" >
        <div class="item"> 
            <h3 class="text-title" >ISP: </h3>
            <p id="isp" class="text-content text-center m-bottom-05"></p>
       </div>
       <div class="item">
            <h3 class="text-title">Organization: </h3>
            <p id="org" class="text-content text-center m-bottom-05"></p>
       </div>
       
       <div class="item"> 
            <h3 class="text-title" >IP Range: </h3>
            <p id="range" class="text-content text-center m-bottom-05"> </p>
       </div>
        <div class="item"> 
                <h3 class="text-title">HostName: </h3>
                <p id="host" class="text-content text-center m-bottom-05"></p>
        </div>
       <div class="item overflow-auto"> 
        <h3 class="text-title"> Blacklist - HetrixTools </h3>
        <h2 id="blacklistCount" class="blacklist-count pb-0 p-top-1"></h2>
        <div class="blacklist-details pt-0">
             <p id="blacklistContent" class="text-content m-bottom-05"> </p>
        </div>
    </div>
    </div>
    <div class="content-grid">
        
        <div class="item p-0">  
            <table class="table table-striped table-dark m-0 w-85 h-85">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th class="text-title t-title" scope="col">DMARC</th>
                    <th class="text-title t-title" scope="col">DKIM</th>
                    <th class="text-title t-title" scope="col">SPF</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="text-title t-title" scope="row">Failed</th>
                    <td class="text-content t-content m-bottom-05">
                        <span 
                            id="dmarcFailedCount"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" >
        
                        </span>
                    </td>
                    <td class="text-content t-content m-bottom-05">
                        <span 
                            id="dkimFailedCount"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top">
                        </span> 
                    </td>
                    <td class="text-content t-content m-bottom-05">
                        <span 
                            id="spfFailedCount"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" >
                        </span>
                    </td>
                  </tr>
                  <tr>
                    <th class="text-title t-title" scope="row">Warnings</th>
                    <td class="text-content t-content m-bottom-05">
                        <span 
                            id="dmarcWarningsCount"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top">
                        </span>
                    </td>
                    <td class="text-content t-content m-bottom-05">
                        <span 
                            id="dkimWarningsCount"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top">
                        </span> 
                    </td>
                    <td class="text-content t-content m-bottom-05">
                        <span 
                            id="spfWarningsCount"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" >
                        </span> 
                    </td>
                  </tr>
                  <tr>
                    <th class="text-title t-title" scope="row">Passed</th>
                    <td class="text-content t-content m-bottom-05">
                        <span 
                            id="dmarcPassedCount"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" >
                        </span> 
                    </td>
                    <td class="text-content t-content m-bottom-05">
                        <span 
                            id="dkimPassedCount"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top">
                        </span> 
                    </td>
                    <td class="text-content t-content m-bottom-05">
                        <span 
                            id="spfPassedCount"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" >
                        </span> 
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="item" > 
            <h3 class="text-title">Blacklist - VirusTotal </h3>
            <div class="wrap">
                <div class="icon">
                    <img src="{{ url_for('static', filename='src/malicious.png') }}" alt="domain" width="10%" height="80%">
                    <p id="maliciousCount" class="text-content m-bottom-05">
                        <span 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top">
                        Malicious: 
                        </span>  
                    </p>
                </div>
                <div class="icon">
                    <img src="{{ url_for('static', filename='src/suspicious.png') }}" alt="domain" width="10%" height="80%">
                    <p id="suspiciousCount" class="text-content m-bottom-05">
                    <span 
                        id = "suspiciousTooltip"
                        data-bs-toggle="tooltip" 
                        data-bs-placement="top" >
                        Suspicious: 
                    </span>   
                    </p>
                   
                </div>
                <div class="icon">
                    <img src="{{ url_for('static', filename='src/undetected.png') }}" alt="domain" width="10%" height="80%">
                    <p id="undetectedCount" class="text-content m-bottom-05">Undetected:  </p>
                </div>
                <div class="icon">
                    <img src="{{ url_for('static', filename='src/harmless.png') }}" alt="domain" width="10%" height="80%">
                    <p id="clearCount" class="text-content m-bottom-05">Clear:  </p>
                </div>
                <div class="icon">
                    <img src="{{ url_for('static', filename='src/timeout.png') }}" alt="domain" width="10%" height="80%">
                    <p id="timeoutCount" class="text-content m-bottom-05"> Timeout: </p>
                </div>           
          </div>
        </div>
    </div>
</div>
{% endblock %}
{% block googlemap %} 
<script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "{{apikey}}",
    v: "weekly",
    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
    // Add other bootstrap parameters as needed, using camel case.
  });
</script>
{% endblock %}
