{% extends "base.html" %}
{% block link  %}.\static\css\home.css" {% endblock %}
{% block content %}
<h1 class="content-title">Insert an IP, Domain or URL to start</h1>
<div class="inputbar">
    <div class="input-group mb-3 ">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">ip</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        <input type="text" class="form-control input-field" aria-label="Text input with dropdown button">
      </div>
</div>

{% endblock %}
