{% extends "base.html" %}
{% block link  %}{{ url_for('static', filename='css/home.css') }}{% endblock %}
{% block scripts%}
<script type="module" src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block content %}
<h1 class="home-title">Insert an IP, Domain or URL to start</h1>
<div class="home-wrap">
  <button id="dropdownButton" class="dropdown-toggle home-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">Choose</button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item">IP</a></li>
    <li><a class="dropdown-item">Domain</a></li>
    <li><a class="dropdown-item">URL</a></li>
  </ul>
  <input type="text"  id="homeInput" class="home-input" placeholder="Enter here">    
</div>
{% endblock %}


