{% extends "base.html" %}
{% block link  %}.\static\css\home.css" {% endblock %}
{% block content %}
<h1 class="content-title">Pick one to START</h1>
<div class="icons">
  <div class="gallery">
    <a href="/ip">
      <img src="./static/src/ip.png" alt="ip" width="100%" height="100%" >
    </a>
  </div>
  <div class="gallery">
    <a  href="/domain">
      <img src="./static/src/domain.png" alt="domain" width="100%" height="100%" >
    </a>
  </div>
  <div class="gallery">
    <a href="/url">
      <img src="./static/src/link.png" alt="url" width="100%" height="100%" >
    </a>
  </div>
</div>
{% endblock %}
