{% extends "base.html" %}
{% block title %} IP Analysis {% endblock %}
{% block link  %} {{ url_for('static', filename='css/ip.css') }}{% endblock %}
{% block scripts %} 
<script src="{{ url_for('static', filename='js/google.js') }}"></script>
<script src="{{ url_for('static', filename='js/ip.js') }}"></script>
{% endblock %}
{% block content %}
<div class="title-display">
    <h1  class="content-title">  IP: {{ip_addr}} </h1>
    <div class="input-group mb-2 search-bar">
        <input type="text" class="form-control" id="inputIP" placeholder="IP address" aria-label="Enter an IP address" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="submitIP">Enter</button>
    </div>
</div>

<div class="board-display">
    <div class="card" style=" background-color:  #333332;" >
        <div id="map" class="card-img-top" data-lat = "{{ data['Geolocation']['latitude'] }}" data-lng="{{ data['Geolocation']['longitude'] }}" 
        data-title="{{ data['Geolocation']['City'] }}" ></div>
        <div class="card-body" >
            <div class="wrap">
                <p class="text-content">Country: {{data["Geolocation"]["Country"]}}</p>
                <p class="text-content">Region: {{data["Geolocation"]["Region"]}}</p>
                <p class="text-content">City: {{data["Geolocation"]["City"]}}</p>
            </div> 
        </div>
    </div>
    <div class="content-grid">
       <div class="item"> 
            <h3 class="text-title" >ISP: </h3>
            <p class="text-content" style="text-align: center; padding-top: 7%;">{{data["ASN"]["ISP"]}} </p>
       </div>
       <div class="item">
            <h3 class=" text-title">Organization: </h3>
            <p class="text-content" style="text-align: center; padding-top: 7%;">{{data["Geolocation"]["Org"]}} </p>
       </div>
       
       <div class="item"> 
            <h3 class=" text-title" >IP Range: </h3>
            <p class="text-content" style="text-align: center; padding-top: 7%;">{{data["ASN"]["Range"]}} </p>
       </div>
       <div class="item"> 
            <h3 class=" text-title" >HostName: </h3>
            <p class="text-content" style="text-align: center; padding-top: 7%;"> {{data["Geolocation"]["Hostname"]}} </p>   
       </div>
    </div>
    <div class="content-grid">
        <div class="item"> 
            <h3 class="text-title">BlackList </h3>
            <div class="wrap">
                <h2 class="blacklist-count">{{data["BlackList"]["count"]}} blacklisted count</h2>
                 <p class="text-content" style="text-align: center;">{{data["BlackList"]["sites"]}} </p>
            </div> 
        </div>
        <div class="item" > 
            <h3 class="text-title">Virus Total </h3>
            <div class="wrap">
                <div class="icon">
                    <img src="{{ url_for('static', filename='src/malicious.png') }}" alt="domain" width="10%" height="80%">
                    <p class="text-content"> Malicious : {{data["VT anal"]["malicious"]}} </p>
                </div>
                <div class="icon">
                    <img src="{{ url_for('static', filename='src/suspicious.png') }}" alt="domain" width="10%" height="80%">
                    <p class="text-content"> Suspicious : {{data["VT anal"]["suspicious"]}} </p>
                </div>
                <div class="icon">
                    <img src="{{ url_for('static', filename='src/undetected.png') }}" alt="domain" width="10%" height="80%">
                    <p class="text-content"> Undetected : {{data["VT anal"]["undetected"]}} </p>
                </div>
                <div class="icon">
                    <img src="{{ url_for('static', filename='src/harmless.png') }}" alt="domain" width="10%" height="80%">
                    <p class="text-content"> Harmless : {{data["VT anal"]["harmless"]}} </p>
                </div>
                <div class="icon">
                    <img src="{{ url_for('static', filename='src/timeout.png') }}" alt="domain" width="10%" height="80%">
                    <p class="text-content"> Timeout : {{data["VT anal"]["timeout"]}} </p>
                </div>           
          </div>
            
        </div>
    </div>
</div>
{% endblock %}
{% block googlemap %} 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDI-RLXTfsYGAuDtQMi1AZcJCvNHjP1aKE&callback=initMap&libraries=maps,marker&v=weekly" async defer></script>
{% endblock %}