{% extends "base.html" %}
{% block title %} URL Analysis {% endblock %}
{% block link %}{{ url_for('static', filename='css/url.css') }} {% endblock %}
{% block scripts %} 
<script type = "module" src="{{ url_for('static', filename='js/url.js') }}"></script>
{% endblock %}
{% block content %}
<div class="url-title-display">
    <h1 id="urlLink" class="content-title w-75"> URL: </h1>
    <div class="search-wrap w-75">
        <input id="inputURL" type="text" class="search-input" placeholder="Enter an URL" aria-label="enter"/>
        <button id="submitURL" class="search-button" type="button" >Enter</button>
    </div>
</div>
<div class="url-item">
    <div class="wrap h-100">
        <div class="icon">
            <img src="{{ url_for('static', filename='src/malicious.png') }}" alt="domain" width="5%" height="65%">
            <p id="maliciousCount" class="text-content"> Malicious : 
                <p id="maliciousContent" class="text-content"> </p>
            </p>
        </div>
        <div class="icon">
            <img src="{{ url_for('static', filename='src/suspicious.png') }}" alt="domain"  width="5%" height="65%">
            <p id = "suspiciousCount" class="text-content"> Suspicious : 
                <p id = "suspiciousContent" class="text-content"> </p>
            </p>
        </div>
        <div class="icon">
            <img src="{{ url_for('static', filename='src/undetected.png') }}" alt="domain"  width="5%" height="65%">
            <p id = "undetectedCount" class="text-content"> Undetected :  </p>
        </div>
        <div class="icon">
            <img src="{{ url_for('static', filename='src/harmless.png') }}" alt="domain"  width="5%" height="65%">
            <p id = "clearCount" class="text-content"> Clear :  </p>
        </div>
        <div class="icon">
            <img src="{{ url_for('static', filename='src/timeout.png') }}" alt="domain"  width="5%" height="65%">
            <p id = "timeoutCount" class="text-content"> Timeout :  </p>
        </div>  
    </div>
</div>
{% endblock %}
