{% extends "base.html" %}
{% block title %} URL Analysis {% endblock %}
{% block link  %}{{ url_for('static', filename='css/url.css') }} {% endblock %}
{% block scripts %} 
<script type = "module" src="{{ url_for('static', filename='js/url.js') }}"></script>
{% endblock %}
{% block content %}
<div class="title-display">
    <h1 id="urlLink" class="url-title"> URL: </h1>
    <div class="input-group mb-0 align-self-center w-75">
        <input id="inputURL" type="text" class="form-control " placeholder="Enter an URL" aria-label="enter" aria-describedby="button-addon2">
        <button id="submitURL" class="btn btn-outline-secondary" type="button" >Enter</button>
    </div>
</div>
<div class="item">
    <div class="wrap">
        <div class="icon">
            <img src="{{ url_for('static', filename='src/malicious.png') }}" alt="domain" width="5%" height="65%">
            <p id="maliciousCount" class="text-content"> Malicious : 0
                <p id="maliciousContent" class="text-content"> </p>
            </p>
        </div>
        <div class="icon">
            <img src="{{ url_for('static', filename='src/suspicious.png') }}" alt="domain"  width="5%" height="65%">
            <p id = "suspiciousCount" class="text-content"> Suspicious : 0 
                <p id = "suspiciousContent" class="text-content"> </p>
            </p>
        </div>
        <div class="icon">
            <img src="{{ url_for('static', filename='src/undetected.png') }}" alt="domain"  width="5%" height="65%">
            <p id = "undetectedCount" class="text-content"> Undetected : 0 </p>
        </div>
        <div class="icon">
            <img src="{{ url_for('static', filename='src/harmless.png') }}" alt="domain"  width="5%" height="65%">
            <p id = "clearCount" class="text-content"> Clear : 0 </p>
        </div>
        <div class="icon">
            <img src="{{ url_for('static', filename='src/timeout.png') }}" alt="domain"  width="5%" height="65%">
            <p id = "timeoutCount" class="text-content"> Timeout : 0 </p>
        </div>  
    </div>
</div>
{% endblock %}