

.pickstart{
    position: absolute;
    height: 75.69px;
    left: 30vw;
    top:5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    /* or 58px */
    letter-spacing: -0.02em;
    color: #000000;
    text-align: center; 
}
.icons{

    display: flex;
    flex-direction: row;
    align-self: center;
    align-content: center;
    justify-content: center;
    margin-top: 10vh;
    padding: 8px;
    gap: 10vw;

}
.gallery{
    width: 18.229vw;
    height: 35.125vh;
    justify-self: center;
    align-self: center;
}

